html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.sticky-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
.sticky-slide {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
.sticky-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.sticky-slide .slide-content {
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px #000;
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Asegúrate de que esté por encima de los slides */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background: rgba(0, 0, 0, 0.5); */
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
}
.bienvenida {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0 2px 8px #000;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.buttons a {
  text-decoration: none;
}
